{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% for item in items %}
            <div class="row">
                <div class="col-xs-auto" id="feature_img">
                    <img src="{{ item.article_feature_img }}">
                </div>
                <div class="col" id="article_detail ">
                    <h5 class="article_title"><a href="{{ item.article_category.id }}/{{ item.id }}"
                                                 style="color: black;text-decoration:none">{{ item.article_title }}</a>
                    </h5>
                    <span class="article_desc">{{ item.article_desc }}</span>
                    <div class="published_date">{{ item.published_date }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

